	body{
		
	}
	#result{
			margin-top :30px;
			margin-left: 150px;
		}
		
		#myscore{
	
			margin-left : 400px;
			margin-top : 30px;
			width:100px;
			height:40px;
			background-color: RoyalBlue;
			font-size: 29px;
			text-align: center;
			color : white;
			border-radius: 30px;
			
		}
		#rank_container{
			margin-top: 40px;
		}

		#user1{
			clear: both;
		}
		#user1, #user2, #user3{
			margin-top: 25px;
			margin-left:110px;
			float: left;
			width:150px;
			height:150px;
		}
		#user2, #user3{
			margin-left: 70px;
		}
		#name1{
			clear: both;
		}
		#name1, #name2, #name3{
			font-size: 29px;
			text-align: center;
			color : white;
			background-color: MediumSeaGreen;
			margin-top: 25px;
			margin-left:110px;
			float: left;
			width:150px;
			height:40px;
			border-radius: 30px;
		}
		#name2, #name3{
			margin-left: 70px;
		}
		#score1{
			clear:both;
		}
		#score1, #score2, #score3{
			font-size: 29px;
			text-align: center;
			color : white;
			background-color: MediumSeaGreen;
			margin-top: 25px;
			margin-left:130px;
			float: left;
			width:100px;
			height:40px;
			border-radius: 30px;
		}
		#score2, #score3{
			margin-left: 120px;
		}

		#exit{
			background-color: RoyalBlue;
			margin-top: 25px;
			width:70%;
			height:50px;
			color:white;
			border-radius: 30px;
			font-size: 34px;
		}
		#gage_container h1{
			text-align:center;
		}
		#rank1{
			width:80px;
			height:80px;
			margin-left: 140px;
		}
		#rank2{
			width:70px;
			height:70px;
			margin-left: 150px;
		}
		#rank6{
			width:70px;
			height:70px;
			margin-left: 150px;
		}		

