body{background-color:#A9D0F5;}

		#user_container{
			margin-left: 90px;
			margin-top: 40px;
			float: left;
			width: 800px;
			height:390px;
			background-color: DodgerBlue;
		}
		#ready_container{
			margin-top: 20px;
			margin-right: 100px;
			background-color: LightGray;
			width: 250px;
			height: 390px;
			float: right;
		}.user_up{
			margin-left: 50px;
		}
		#sel_char{
			margin-top: 100px;
			margin-left: 70px;
		}
		#map_select{
			margin-left: 40px;
			margin-top: 25px;
			text-align: center;
			width: 170px;
			height: 35px;
		}
		#map_image{
			margin-left: 40px;
			margin-top: 10px;
		}
		#map_button{
			text-align: center;
			color: white;
			font-size: 15px;
			margin-top: 60px;
			margin-left: 75px;
			width:100px;
			height: 35px;
			clear: both;
		}#entire{
			height: 600px;
			background-color:#A9D0F5;
		}#user_info{
			text-align: center;
			clear:both;
			width: 80%;
			margin-top: 40px;
			margin-left: 50px;
			height: 90px;
			background-color: DodgerBlue;
		}
		#user_my, #user_name{
			float: left;
		}
		#user_my{
			float: left;
			margin-left: 20px;
			width: 90px;
			height: 90px;
		}
		#user_name{
			width: 300px;
			margin-left: 32px;
			margin-top: 22px;
			font-size: 36px;
			text-align: left;
			background-color:#A9D0F5;
		}
		#outer_bar{
			margin-top: 31px;
			margin-right: 100px;
			float:right;
			background-color: IndianRed;
			width: 550px;
			height: 28px;
		}
		#inner_bar{
			background-color: LightCoral;
			width: 37%;
			height: 28px;
		}
		.opt_btn{
			font-size: 10pt;
	    	padding: 20px auto;
	    	margin: 10px 75px;
	    	width: 100px;
	    	text-align: center;
		}