body{background-color:#A9D0F5;}

#user_container{
			margin-left: 130px;
			margin-top: 40px;
			float: left;
			width: 595px;
			height:390px;
			background-color: DodgerBlue;
		}
		#ready_container{
			margin-top: 40px;
			margin-right: 160px;
			background-color: LightGray;
			width: 250px;
			height: 390px;
			float: right;
		}


		#user1,#user4{
			margin-left: 40px;
		}
		#user1, #user2, #user3{
			margin-top: 40px;
		}
		#user2, #user3, #user5, #user6{
			margin-left: 70px;
		}
		#user4, #user5, #user6{
			margin-top: 65px;
		}
		#map_select{
			margin-left: 40px;
			margin-top: 25px;
			text-align: center;
			width: 170px;
			height: 35px;
		}
		#map_image{
			margin-left: 40px;
			margin-top: 10px;
		}
		#map_button{
			text-align: center;
			color: white;
			font-size: 15px;
			margin-top: 60px;
			margin-left: 75px;
			width:100px;
			height: 35px;
			clear: both;
		}
		#user_info{
			text-align: center;
			clear:both;
			width: 100%;
			margin-top: 100px;
			height: 90px;
			background-color: DodgerBlue;
		}
		#entire{
			height: 411.6px;
		}

		#user_my, #user_name{
			float: left;
		}
		#user_my{
			float: left;
			margin-left: 20px;
			width: 90px;
			height: 90px;
		}
		#user_name{
			width: 300px;
			float: left;
			margin-left: 32px;
			margin-top: 22px;
			font-size: 36px;
			text-align: left;
		}
		#outer_bar{
			margin-top: 31px;
			margin-right: 100px;
			float:right;
			background-color: IndianRed;
			width: 550px;
			height: 28px;
		}
		#inner_bar{
			background-color: LightCoral;
			width: 37%;
			height: 28px;
		}
		.opt_btn{
			font-size: 10pt;
	    	padding: 20px auto;
	    	margin: 10px 75px;
	    	width: 100px;
	    	text-align: center;
		}